.temp-card.mdl-card {
    width: 320px;
    height: 50px;
    padding-bottom: 48px;
 }
 .temp-card > .mdl-card__title {
    text-align: center;
    color: #fff;
    background:
       url('../assets/demos/dog.png') bottom right 15% no-repeat #e93636;
 }
 .threshold-card.mdl-card {
    width: 320px;
    height: 280px;
 }
 .threshold-card > .mdl-card__title {
    text-align: center;
    color: #fff;
    background:
       url('../assets/demos/dog.png') bottom right 15% no-repeat #e93636;
 }
 .mdl-layout__content {
    text-align: center;
 }
 .page-content {
    padding-top: 28px;
    display: inline-block;         
 }